@import url("../css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto+Condensed&display=swap");
[class*=__container] {
  max-width: 76.875rem;
  padding: 0 0.625rem;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.phone {
  font-size: 1.125rem;
  color: #fefefe;
}

/* ------- Header ------- */
.header {
  background-color: #332208;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 6.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}
.menu__list-link {
  text-transform: uppercase;
  color: #fefefe;
  font-size: 1.125rem;
  padding-bottom: 0.3125rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-bottom: 1px solid transparent;
}
.menu__list-link:hover {
  border-bottom: 1px solid #fefefe;
}

/* ------- Header ------- */
/* ------- Main ------- */
.main {
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* -------------- */
.main__section__container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main__content {
  padding-top: 4.6875rem;
  text-align: center;
}
.main__content-title {
  font-family: Fira Sans;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.main__content-text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3.125rem;
}

.main__content-items {
  margin-top: 7.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.main__content-item {
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 16px;
  padding: 14px 10px;
  border: 1px solid #332208;
}

.content-item__text {
  margin-top: 16px;
}

.app-link {
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1.1875rem;
  background-color: #c5ac2d;
  color: #fefefe;
}

/* -------------- */
.main__slider-item {
  text-align: center;
}

/* ------- Main ------- */
/* ------- Footer ------- */
.footer {
  background-color: #332208;
}
.footer__inner {
  min-height: 12.5rem;
}

/* ------- Footer ------- */